openapi: 3.0.3
info:
  title: Skimlinks Merchant Commissions Payments API
  version: v4
  description: 'The Skimlinks Merchant API provides a convenient way to gather information about the merchants (advertisers/programs) participating in the Skimlinks affiliate program that are available to the authenticated publisher. It exposes merchant programs, the publisher''s monetizable domains, the Skimlinks vertical taxonomies, and current merchant offers (coupons, deals, promotions). All responses are JSON.


    Authentication: every request requires a temporary, timestamp-based `access_token` passed as a query parameter. Obtain one by POSTing your `client_id` and `client_secret` (from Publisher Hub > Toolbox > APIs > API Authentication credentials) with `grant_type=client_credentials` to `https://authentication.skimapis.com/access_token`.


    Rate limiting: some endpoints are limited to 40 requests per minute and 1000 per hour per API key. Exceeding the limit returns `429 Too Many Requests`.'
  contact:
    name: Skimlinks Developer Support
    url: https://developers.skimlinks.com/merchant.html
  x-generated: '2026-07-21'
  x-method: searched
  x-source: https://developers.skimlinks.com/merchant.html (Apiary blueprint skimlinksmerchantapi)
servers:
- url: https://reporting.skimapis.com
  description: Skimlinks Reporting API production host
security:
- access_token: []
tags:
- name: Payments
paths:
  /publisher/{publisher_id}/payment-status:
    get:
      operationId: getPaymentStatus
      summary: Get payment status report
      description: Information about the publisher's invoices and their commissions.
      tags:
      - Payments
      parameters:
      - name: publisher_id
        in: path
        required: true
        schema:
          type: integer
      - name: access_token
        in: query
        required: true
        schema:
          type: string
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          format: date
      - name: end_date
        in: query
        required: true
        schema:
          type: string
          format: date
      - name: limit
        in: query
        schema:
          type: integer
          default: 30
          minimum: 1
          maximum: 600
      - name: offset
        in: query
        schema:
          type: integer
      - name: sort_by
        in: query
        schema:
          type: string
          enum:
          - transaction_date
          - payment_date
          - revenue
      - name: sort_dir
        in: query
        schema:
          type: string
          enum:
          - DESC
          - ASC
      - name: invoice_id
        in: query
        schema:
          type: integer
      - name: payment_status
        in: query
        schema:
          type: string
          enum:
          - paid
          - unpaid
      - name: payment_type
        in: query
        schema:
          type: string
          enum:
          - affiliate
          - flatfee
      - name: saas_fee
        in: query
        schema:
          type: string
          enum:
          - only
          - without
      responses:
        '200':
          description: Payment status records with pagination.
          content:
            application/json:
              schema:
                type: object
                properties:
                  commissions:
                    type: array
                    items:
                      type: object
                  pagination:
                    $ref: '#/components/schemas/Pagination'
components:
  schemas:
    Pagination:
      type: object
      properties:
        has_next:
          type: boolean
        total_count:
          type: integer
        offset:
          type: integer
        limit:
          type: integer
  securitySchemes:
    access_token:
      type: apiKey
      in: query
      name: access_token
      description: Timestamp-based access token obtained from https://authentication.skimapis.com/access_token via a client_credentials grant using your client_id and client_secret.
